footer {
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: var(--small-text-size);
  text-align: center;
  margin-top: auto;
}

footer p {
  margin: 0;
}

footer .social-icons {
  display: flex;
  gap: 2rem;
}

footer .social-icons a {
  color: var(--light);
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: var(--cta-bg-color);
}

@media (max-width: 700px) {
  footer {
    justify-content: space-around;
    padding: 1rem 0.5rem;
    font-size: var(--small-text-size);
    align-items: center;
    gap: 1rem;
  }
  footer .social-icons {
    gap: 1rem;
  }
}
